// .v-hidden-loco {
//     visibility: hidden;
// }

// .v-hidden-intro {
//     visibility: hidden;
// }

// .v-hidden-burger {
//     visibility: hidden;
// }

$padding-top__line: remToVw(5.7rem);

.a-lv-1 {
    padding-bottom: remToVw(16rem);
    flex-direction: column;
    .a__left-space {
        width: 33.333%;
    }

    @include breakpoint(sm){
        flex-direction: row;
    }
}

.a-title-sm {
    display: block;
    font-size: remToVw_sm(2.5rem);
    font-weight: bold;
    margin-bottom: remToVw_sm(3rem);

    @include breakpoint(sm) {
        font-size: remToVw_sm(1.8rem);
        margin-bottom: remToVw(4rem);
    }

    @include breakpoint(md) {
        font-size: remToVw(2.5rem);
    }
}

.a__inner-container {
    display: flex;
    padding-top: $padding-top__line;
    align-items: flex-start;

    .a__f1 {
        flex: 1;
    }

    @include breakpoint (md) {
        .a__left-space {
            width: $space-lg__i-mc;
        }
    }
}

.about {
    position: relative;
    margin-bottom: remToVw_sm(20rem);

    .about__txt {
        margin: 0;
        font-size: remToVw_sm(3rem);
        line-height: remToVw_sm(5.4rem);
        font-weight: 300;

        > * {
            overflow: hidden;
        }
    }

    .pp_tl {
        color: $black;
        overflow: hidden;
        padding-top :remToVw(1.6rem);
        display: block;

        .about-in {
            display: inline-block;
        }
    }

    @include breakpoint(xs) {
        .about__txt {
            font-size: remToVw_sm(3rem);
            line-height: remToVw_sm(4.4rem);
        }
    }

    @include breakpoint(sm) {
        margin-bottom: remToVw(15rem);
        .about__txt {
            font-size: remToVw(5rem);
            line-height: remToVw(7.4rem);
        }
    }

    @include breakpoint(md) {
        .about__txt {
            font-size: remToVw(5.8rem);
            // padding-right: remToVw(5rem);
        }
        .pp_tl {
            padding-left: remToVw(2rem);
        }
    }

    @include breakpoint(xl) {
        .about__txt {
            font-size: remToVw(5rem);
            padding-right: remToVw(20rem);
        }
    }
}

.a-c-c {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: remToVw(16rem);

    .a-c-space {
        width: 50%;
    }

    @include breakpoint(xs) {
        .a-c-space {
            width: 33.33%;
        }
    }
}

.a-card {
    margin-bottom: remToVw_sm(4rem);

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    .a-c-el {
        display: block;
        overflow: hidden;
        font-size: remToVw_sm(3rem);
        line-height: remToVw_sm(3.5rem);
        font-weight: 300;
    }

    @include breakpoint(xs) {
        margin-bottom: remToVw(5.7rem);
        .a-c-el {
            font-size: remToVw_sm(2rem);
            line-height: remToVw_sm(2.5rem);
        }
    }

    @include breakpoint(md) {
        .a-c-el {
            display: block;
            overflow: hidden;
            font-size: remToVw(3rem);
            line-height: remToVw(4.4rem);
            
        }
    }
}

