.main-container {
    padding-left: remToVw(6rem);
    padding-right: remToVw(6rem);
}

.container-sm {
    width: 100%;
    margin: 0 auto;
    padding-left: remToVw(6rem);
    padding-right: remToVw(6rem);

    @include breakpoint(sm){
        padding-left: remToVw(32rem);
        padding-right: remToVw(32rem);
    }
}