.intro {
    padding-top: remToVw_sm(20rem);
    padding-bottom: remToVw_sm(20rem);

    @include breakpoint(xs) {
        padding-top: remToVw_sm(15rem);
    }

    @include breakpoint(sm) {
        padding-top: remToVw_sm(6rem);
        padding-bottom: remToVw(15rem);
    }

    @include breakpoint(md) {
        padding-top: remToVw(6rem);
    }
}

.intro-img {
    position: relative;
    display: inline-block;
    z-index: 0;
    .img{
        width: 100%;
        margin-bottom: 2rem;
    }
    .img-coodos {
        font-size: 1.2rem;
        font-weight: 500;
        color: $black;
        display: inline-block;
        text-align: left
    }

    @include breakpoint(sm) {
        .img-coodos {
            font-size: 1.4rem;
        }
    }
}

.welcome__txt--2 {
    font-size: remToVw_xs(9.2rem);
    font-weight: 500;
    margin-bottom: 0;

    @include breakpoint(xs) {
        font-size: remToVw_md(18.5rem);
    }

    @include breakpoint(sm) {
        font-size: remToVw_md(12.6rem);
    }

    @include breakpoint(md) {
        font-size: remToVw(21.6rem);
    }
}
.welcome__msg-txt-c {
    display: block;
    position: relative;
    overflow: hidden;
}

.msg-txt-in {
    display: inline-block;
}

.w-summer {
    text-align: right;
}

.mtl {
    position: absolute;
    width: remToVw_sm(14.7rem);
    left: remToVw_sm(1rem);
    top: 61%;
    transform: translateY(-50%);

    @include breakpoint(xs) {
        width: remToVw_sm(16.7rem);
        left: remToVw_sm(2rem);
    }

    @include breakpoint(sm) {
        width: remToVw_sm(11.5rem);
        left: remToVw_sm(3.2rem);
    }

    @include breakpoint(md) {
        width: remToVw(24rem);
        left: remToVw(4.5rem);
    }
}

.intro-line {
    width: 100%;
    height: 50px;
    position: relative;
    display: block;

    .intro-line__line {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.date-town {
    width: 100%;
    text-align: right;
    display: block;
    overflow: hidden;
    margin-bottom: 2.2rem;

    .date__content {
        display: inline-block;
        font-weight: 700;
        font-size: 2rem;
    }
}