$blue-loco: #4d84f1;

.intro-locomotive {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $grey-lighter;
    z-index: 10000;
}

.intro-loco__container {
    width: remToVw(120rem);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);

    @include breakpoint(md) {
        width: remToVw(70rem);
    }
}

.loco-img__container {
    position: relative;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    display: block;
}

.loco-img {
    position: relative;
    z-index: 1;
}

.hello-img__container {
    display: inline-block;
    margin-bottom: 2.5rem;
    overflow: hidden;
    width: 100%;
}

.hello-img {
    display: inline-block;
    width: 100%;
}

.bg-action {
    position: absolute;
    z-index: 0;
    width: calc(100% - 6px);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: calc(100% - 2px);
    bottom: 1px;
    overflow: hidden;
    display: block;

    .bg-ac--black {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $black;
        display: block;
    }

    .bg-ac--blue {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $blue-loco;
        display: block;
        transform: scaleX(0);
    }

    @include breakpoint(sm) {
        width: calc(100% - 4px);
    }
}

.loco-loader {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
}

.loader-line {
    position: relative;
    width: remToVw(47rem);
    height: .5rem;
    display: inline-block;
    transform-origin: 0 50%; 
    transform: scaleX(0);

    @include breakpoint(md) {
        width: remToVw(27rem);
    }
}

.loader-line-s {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0 50%; 
}

.loader-line--black {
    background: $black;
}

.loader-line--blue {
    background: $blue-loco;
    transform: scaleX(0);
}

.load-blue {
    transform-origin: 0 50%; 
}

.loader-per {
    width: remToVw(12rem);
    font-size: remToVw(4.5rem);
    font-weight: bold;
    margin-left: remToVw(5.5rem);
    overflow: hidden;

    @include breakpoint(md) {
        width: remToVw(7rem);
        font-size: remToVw(2rem);
        margin-left: remToVw(3rem);
    }
}

.num, .percent {
    display: inline-block;
}