.works {
    margin-bottom: $section-margin;

    .d1 {
        font-size: remToVw(17rem);
        margin-bottom: 4rem;
    }
}

.project__title-date {
    padding-left: remToVw(12rem);   
}

.p-num {
    font-size: remToVw_sm(5.2rem);
    display: block;
    font-weight: bold;
    margin-bottom: remToVw(3rem);

    @include breakpoint(sm) {
        font-size: remToVw(8.2rem);
    }
}

.card-project {
    width: 100%;
    position: relative;
}
.project__img {
    font-size: 0;
    width: remToVw_sm(36.3rem);

    img {
        width: 100%;
    }

    @include breakpoint(sm) {
        width: remToVw(56.3rem);
    }
}

.project__content {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.project__title {
    margin: 0;
    font-size: remToVw_sm(3.5rem);
    margin-bottom: 1.5rem;
    line-height: 1;
    font-weight: 300;

    @include breakpoint(md) {
        font-size: remToVw(5rem);
    }
}

.project__date {
    display: block;
    color: #777777;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
}

.project__line {
    width: 100%;
    display: block;
    height: .5rem;
    background: $black;
    transform-origin: 0 0;
}

.project-in__parent {
    overflow: hidden;
}

.project-in {
    display: inline-block;
}