// Font faces
$font-main: forma-djr-display, sans-serif;
// Font sizes
$font-size-xl: 7rem; 
$font-size-lg: 6rem; 
$font-size-md: remToVw(4rem); 
$font-size-sm: 2rem; 
// Spacing and Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// colours
$white: #fff;
$grey-lighter: #f3f3f3;
$black: #000;
// Spacers
$section-margin: 15rem;

// Sizers for container
$under-container-lg: 96rem;

$space-lg: remToVw(32rem);
$space-lg__i-mc: remToVw(26rem);